<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digicard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/digi_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/digi_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan|adjustResize">
        <activity android:name=".Activities.ConnectivityError" />
        <activity android:name=".Activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.myCardsActivity" />
        <activity android:name=".Activities.get_photo_Activity" />
        <activity android:name=".Activities.socialmedia_activity" />
        <activity android:name=".Activities.signup_activity" />
        <activity android:name=".Activities.login_activity" />
        <activity android:name=".Activities.Preview_Activity" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.Settings" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_dHMptmJ9G5HM1O" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>